.divForm {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    box-shadow: 0px 0px 14px 3px #cccccc;
    border-radius: 7px;
}