.boxModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 508px;
    box-shadow: 0px 0px 14px 3px #cccccc;
    border-radius: 7px;
}

.divDados {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divClientes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    height: 100px;
}

.divClientes h2 {
    margin: 10px;
}

.boxDelete {
    background-color: #f7f7f7;
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
    justify-content: center;
    border-radius: 7px;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    gap: 15px;
}